.step-card {
    background: #2AF598;
    padding: 2rem;
    border: black 3px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 200pt;
}

.hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  .step-card {
    max-width: 90%;
    min-width: unset;
    text-align: center;
  }

}