.control-button {
  min-height: 60px;
  min-width: 60px;
  padding: 1em;
  background: white;
  border-radius: 7px;
}

.purple-accent {
  background: #341B66;
  color: white;
  border: 2px solid #341B66;
  font-size: medium;
  transition: 0.2s;
}

.purple-accent:focus, .purple-accent:hover {
  background-color: #EA4E6C;
  background-image: linear-gradient(180deg, #EA4E6C, #F6B83C);
  color: white;
  border: 2px solid #341B66;
  transform: scale(1, 1);
  outline: none;
  font-size: medium;
  box-shadow: 0 0 10px 2px #341B66;
}

.secondary-green{
  color: #2AF598
}

.standard {
  border: 1px solid darkgray;
}

.red {
  border: 1px solid red;
  color: red;
}

.orange {
  border: 1px solid orange;
  color: orange;
}

.yellow {
  border: 1px solid gold;
  color: gold;
}

.green {
  border: 1px solid green;
  color: green;
}

.blue {
  border: 1px solid blue;
  color: blue;
}

.indigo {
  border: 1px solid indigo;
  color: indigo;
}

.violet {
  border: 1px solid darkmagenta;
  color: darkmagenta;
}

.black {
  border: 1px solid black;
  color: black;
}