.control-button {
  min-height: 32px;
  padding: 1em;
  background: white;
  border-radius: 2px;
}

.standard {
  border: 1px solid darkgray;
}

.red {
  border: 1px solid red;
  color: red;
}

.orange {
  border: 1px solid orange;
  color: orange;
}

.yellow {
  border: 1px solid gold;
  color: gold;
}

.green {
  border: 1px solid green;
  color: green;
}

.blue {
  border: 1px solid blue;
  color: blue;
}

.indigo {
  border: 1px solid indigo;
  color: indigo;
}

.violet {
  border: 1px solid darkmagenta;
  color: darkmagenta;
}

.black {
  border: 1px solid black;
  color: black;
}