@import url('https://fonts.googleapis.com/css?family=Literata:400,700&display=swap');
:root {--font-serif:  Georgia, serif;
  --font-display: Futura, sans-serif;
  --font-text: Literata, serif;
  --font-dark: #1C1A1C;
  --cool-pale-grey: #f1f1f1;
  --primary-pink: #EA4E6C;
  --primary-orange: #F6B83C;
  --secondary-blue: #08AEEA;
  --secondary-green: #2AF598;
  --accent-purple: #341B66;
  --accent-purple-transparent: rgba(51, 27, 100, 0.75);
  --blue-green-gradient: linear-gradient(90deg, #08AEEA, #2AF598);
  --orange-pink-gradient: linear-gradient(0deg, #F6B83C, #EA4E6C);
}

h1 {
  line-height: 1ch;
  margin: auto;
}

.playThroughScreen {
  background-color: var(--primary-pink);
  background-image: var(--orange-pink-gradient);
  height: 100vh;
  width: 100%;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  color: var(--font-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#play-through-screen-active {
  background-color: var(--primary-orange);
  background-image: var(--orange-pink-gradient);
}

#play-through-screen-paused {
  background-color: rgba(0, 0, 0, 0.5);
  background-image:
          linear-gradient(to bottom,
                  rgba(255, 255, 255, .8),
                  rgba(0, 0, 0, .25));

  .controls, .slideShow, .app-button {
    display: none;
  }
}

.script {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .script-title, .progress-panel {
    padding: 2rem;
  }
  .script-title {
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 36px;
    font-variant: all-small-caps;
  }
}

.slideShow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 500px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 47vh;
}

.progress-panel {
  display: flex;
  justify-content: center;
  align-items: baseline;

  span {
    font-family: var(--font-text);
    font-size: larger;
    line-height: 1ch;
    padding: 0 1ch;
  }
}

progress {
  /* Reset*/
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Nuke the random white border in Firefox */
  border: none;

  /* The inset shadow in Firefox & Edge */
  background-color: var(--cool-pale-grey);
  border-radius: 2px;
  box-shadow: 0 2px 5px var(--accent-purple-transparent) inset;

  /*  sensible size  */
  height: 2ex;

}
progress[value]::-webkit-progress-bar {
  /* The inset shadow in Chrome/Safari/Opera */

  background-color: var(--cool-pale-grey);
  border-radius: 2px;
  box-shadow: 0 2px 5px var(--accent-purple-transparent) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(top,
                  rgba(255, 255, 255, .25),
                  rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, var(--secondary-blue), var(--secondary-green));

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: all ease 1s;
}

progress[value]::-moz-progress-bar {
  background-image:
          -moz-linear-gradient(top,
                  rgba(255, 255, 255, .25),
                  rgba(0, 0, 0, .25)),
          -moz-linear-gradient(left, var(--secondary-blue), var(--secondary-green));

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress-paused[value]::-webkit-progress-bar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}
.progress-paused[value]::-webkit-progress-value {
  background-color: rgba(0, 0, 0, 0.5);
  background-image:
          -webkit-linear-gradient(-45deg,
                  transparent 33%, rgba(0, 0, 0, .2) 33%,
                  rgba(0,0, 0, .2) 66%, transparent 66%),
          -webkit-linear-gradient(top,
                  rgba(255, 255, 255, .8),
                  rgba(0, 0, 0, .25));
}
.progress-paused[value]::-moz-progress-bar {
  background-color: rgba(0, 0, 0, 0.5);
  background-image:
          -moz-linear-gradient(-45deg,
                  transparent 33%, rgba(0, 0, 0, .2) 33%,
                  rgba(0,0, 0, .2) 66%, transparent 66%),
          -moz-linear-gradient(top,
                  rgba(255, 255, 255, .8),
                  rgba(0, 0, 0, .25));
}
.progress-complete[value] {
  box-shadow: 0 0 5px var(--secondary-blue);
}

@media screen and (max-width: 499px) {

  .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: static;
  }
}
@media screen and (orientation: landscape) and (max-height: 450px){
  .playThroughScreen {
    height: 100vh;
    justify-content: space-around;
  }

  .script {
    height: inherit;
    margin-bottom: 1rem;

    .script-title, .progress-panel {
      padding: 0;
    }
  }

  .slideShow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  .controls {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40vh;

    span:nth-of-type(2) {
      display: none;
    }
  }

}
