$font-serif:  Georgia, serif;
$cool-pale-grey: #f1f1f1;

.playThroughScreen {
    background: antiquewhite;
    height: 100vh;
    width: 100%;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
}
/* The Close Button */
.close {
  color: black;
  background: $cool-pale-grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover,
.close:focus {
  color: $cool-pale-grey;
  background: black;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  //transform: scale(1.1, 1.1);
  box-shadow: 0 0 10px 2px grey;
}

.script {
  border: white 1px dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem;
  max-width: fit-content;
}