<form action="/steps" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input
    type="hidden"
    name="step[little_script_id]"
    value="<%= little_script_id %>">
  <label>
    What the step?
    <input type="text" name="step[name]">
  </label>
  <label> How long does it take?
    Hours: <input type="number" name="step[duration_hours]" min="0" max="60">
    Minutes: <input type="number" name="step[duration_minutes]" min="1" max="60">
  </label>
  <br>
  <input type="Submit" value="Create Step!">
</form>