<li>
    <span class="delete-button"> <%= button_to 'X', step_path(step[:id]), method: 'delete', data: { confirm: 'Are you sure?' } %> </span>
    <span><%= step.name %> </span>
    <span class="step-duration"> <% if step.duration/60/60 > 0  %><%= (step.duration/60/60) %>h <% end %> <%= step.duration/60%60%>m</span>

</li>
