// Place all the styles related to the Testers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// DSL from Sass docs:
// Variables use $, eg to get the following css:
// use this SCSS:

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

// ===>
//body {
//  font: 100% Helvetica, sans-serif;
//  color: #333;
//}