// Place all the styles related to the Little_scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:

h1 {
  padding: 1rem;
}
.delete-script-button > .button_to > * {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: var(--primary-pink);
  background-image: var(--orange-pink-gradient);
}
