// Place all the styles related to the Little_scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:
body {

  display: flex;
  justify-content: center;
  margin: auto;

  * {
    outline-color: var(--secondary-blue);
  }
  h1, h2, summary {
    text-align: center;
    line-height: 1.2;
    font-family: var(--font-serif);
  }

  header {

    nav {
      position: fixed;
      top: 0;
      left: 0;
    }
    a {
      color: black;
      padding: 0 0.23rem;
      background-color: var(--secondary-blue);
      background-image: var(--blue-white-gradient);
      text-transform: uppercase;
      border: 1px solid black;
      border-radius: 7px;
      text-decoration: none;
    }
  }

  .show-script-main {

    .meta {

      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: larger;
        padding: 0;
      }
      h2 {
        font-size: large;

        #react-clock {
          font-family: var(--font-display);
          font-size: x-large;
        }
      }
      .go-button {
        background-color: var(--secondary-blue);
        background-image: var(--blue-white-gradient);
        text-transform: uppercase;
        font-size: large;
        border: 2px solid black;
        border-radius: 7px;
      }
    }

    ul {
      padding: 0;
      list-style: none;
    }

    li {
      display: grid;
      grid-template-columns: 40px auto 60px;
      padding: 0.5rem 0;

      span {
        padding: 0.25rem;
      }
      span:first-of-type {
        padding-left: 0;
      }


      form {
        padding-left: 0;
        input {
          border: 1px solid black;
          border-radius: 5px;
          background-color: var(--primary-pink);
          background-image: var(--pink-orange-gradient);
        }
      }

    }

  }

  footer {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    summary{
      text-align: left;
    }

    #createStepForm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input, label {
        margin: 0.25rem;
        padding: 0.25rem;
      }
      .create-step-button {
        padding: 0.5rem;
        background-color: var(--secondary-blue);
        background-image: var(--blue-white-gradient);
        font-variant: all-small-caps;
        font-size: larger;
        border: 2px solid black;
        border-radius: 7px;
      }
    }
    .delete-script-button {
      align-self: center;

      input {
        margin-top: 1.5rem;
        padding: 0.5rem;
        background-color: var(--primary-pink);
        background-image: var(--pink-orange-gradient);
        font-variant: all-small-caps;
        border: 2px solid black;
        border-radius: 7px;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  #root {
    width: 450px;
  }

}

@media screen and (max-width: 499px) {

  .show-script-main, footer, details > form {
    max-width: 320px;
  }
}
