<form action="/little_scripts" method="POST" id="newScriptForm">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <!-- One "tab" for each step in the form: -->
  <div class="tab">What's the name of this script?:
    <p><input placeholder="name..." oninput="this.className = ''" name="little_script[name]"></p>
  </div>
  <div class="tab">What's the first step?
    <p><input placeholder="name" oninput="this.className = ''" name="step[name]"></p>
    <p>Hours <input type="number" min="0" max="3" value="0" oninput="this.className = ''" name="step[duration_hours]"></p>
    <p>Minutes <input type="number" min="1" max="60" value="3" oninput="this.className = ''" name="step[duration_minutes]"></p>
  </div>
  <div>
    <div>
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="formStep"> </span>
    <span class="formStep"> </span>
  </div>
</form>